*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #094282,#6d00ff 70%, #6d00ff 70%);
    color: #fff;
    padding: 10px 8%;
    position: relative;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    z-index: 10;
}
nav img{
    width: 300px;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav ul li:hover{
    background-color: #094282;
    box-shadow:#6d00ff;
}
.contact{
    position: relative;
    
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content
{
    max-width: 800x;
    text-align: center;
     margin-top: 5%;
}
.content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

 .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .icon .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .box .text {
    margin-left: 30px;
}
.container .contactInfo .box .icon .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input [type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width:991px)
{
    .contact
    {
        padding:50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .containerInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
       
    }
    .container .contactForm {
        margin-top: 5%;
    }

    
}
@media(max-width: 767px){
    nav ul{
        position:fixed;
        width: 90%;
        top: 50px;      
    }
      #mySidenav li {
        position: absolute;
        right: -70px;   
        transition: 0.3s;
        padding: 5px;
        width: 135px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        border-radius: 5px 0px 0px 5px;
      }
      
      #mySidenav li:hover {
        right: 0px;
      }
      
      #home {
        top: 0px;
        background-color: #864ab8;
      }
      
      #studio {
        top: 33px;
        background-color: #2196F3;
      }
      
      #contact {
        top: 66px;
        background-color: #f44336;
      }
      
      #about {
        top: 99px;
        background-color: #55d6cb;
      }
}