*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #094282,#6d00ff 70%, #6d00ff 70%);
    color: #fff;
    padding: 10px 8%;
    position: relative;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 8%;
    display: flex;
    align-items: center;
    z-index: 10;
}
nav img{
    width: 300px;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav ul li:hover{
    background-color: #094282;
    box-shadow:#6d00ff;
}
.text-box
{
    margin-top: 18%;
    max-width: 600px;
}
.text-box h1{
    font-size: 70px;
    line-height: 90px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text-box p{
    line-height: 28px;
}
.text-box button{
    padding: 20px 40px;
    background: #fff;
    border: 0;
    outline: 0;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
}
.image {
    display: flex;          
    justify-content: center;
    margin: 30px;
}
.feature-img{
  width: 410px;
  height: 420px;
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 2;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  
}

.sidebar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 23%;
  height: 100%;
  background: linear-gradient(#8569ff, #006786);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sidebar a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
  transform: rotate(90deg);
  width: 40%;
  opacity: 70%;
}
@media(max-width: 991px){
       
    .feature-img{
        width: 550px;
        height: 400px;
        position: relative;
        right: 15%;
        top: 25%;
        z-index: 2;
      
        border-radius: 5%;
    }
      .sidebar{
        width: 15%;
        z-index: 1;
    }
    .image {
        margin-top: 5%;
        margin-left: 5%;
        
        width: 100%;
    }   
}
@media(max-width: 767px){
    .feature-img{
        width: 430px;
        height: 300px;
        position: relative;
        right: 15%;
        top: 25%;
        z-index: 2;
        border-radius: 5%;
        
      }    
      .sidebar{
        width: 10%;
        z-index: 1;
        }   
        .image {
            margin-top: 5%;
            margin-left: 10%;
            
            width: 100%;
        }     
        nav ul{
            position:fixed;
            width: 96%;
            top: 50px;      
        }
          #mySidenav li {
            position: absolute;
            right: -70px;   
            transition: 0.3s;
            padding: 5px;
            width: 135px;
            text-decoration: none;
            font-size: 15px;
            color: white;
            border-radius: 5px 0px 0px 5px;
          }
          
          #mySidenav li:hover {
            right: 0px;
          }
          
          #home {
            top: 0px;
            background-color: #864ab8;
          }
          
          #studio {
            top: 33px;
            background-color: #2196F3;
          }
          
          #contact {
            top: 66px;
            background-color: #f44336;
          }
          
          #about {
            top: 99px;
            background-color: #55d6cb;
          }                                                                                                                    
}